body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.quiz-frame {
    display: none;
    width: 1080px;
    height: 1920px;
    display: flex;
    flex-direction: column;
}

.top-portion {
    height: 530px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    background-image: url('hdr.jpg');
    background-size: cover;
    background-position: center;
}

.bottom-portion {
    height: 1280px;
    background-color: #444;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.swipe-options {
    width: 100%;
    height: calc(100% - 110px); /* Adjust for the timer height */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swipe-option {
    width: 48%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.left-option {
    background-image: url('left.jpg'); /* Placeholder for left swipe option background */
    background-size: cover;
    background-position: center;
}

.right-option {
    background-image: url('right.jpg'); /* Placeholder for right swipe option background */
    background-size: cover;
    background-position: center;
}

.timer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 48px;
    background-size: cover;
    background-position: center;
}

#result-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#main-gif-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#main-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
